.some-text {
    font-family: 'Open Sans' 'Arial' sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300px;
}

.some-text2 {
    font-family: 'Julius Sans One'sans-serif;
    text-align: left;
}

.some-text3 {
    text-transform: 
}