html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.logo {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #000;
}


.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    
    color: #000;
}


.menu a:hover {
    text-decoration: underline;
}

.phone {
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

hr {
    margin: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}
